<div class="container">
<h2>Articles Index</h2>

<ul>
<% @articles.each do |article| %>
  <li>
    <%= article.title %>
    <%= article.content %>
  <%= link_to 'Show', :controller => 'articles', :action => 'show', :id => article %>
  <%= link_to 'Edit', :controller => 'articles', :action => 'edit', :id => article %>
  <%= link_to 'Delete', :controller => 'articles', :action => 'destroy', :id => article %>
  </li>
<% end %>
</ul>
<%= link_to 'New Article', new_article_path %>
</div>