<div class="container">
  <div class="page-header">
    <h2>New Article</h2>
  </div>

  <%# if false %>
    <%= form_for @article, :url => { :controller => 'articles', :action => 'create' } do |f| %>
      <%= f.label :title, "Title" %>
      <%= f.text_field :title %>
      </br>
      </br>
      <%= f.label :content, "Content" %>
      <%= f.text_area :content %>
      </br>
      </br>
      <%= f.submit "Create" %>
    <% end %>
  <%# end %>


  <!-- <form class="form-horizontal" role="form" id="new_backend_article" action="/articles/create" accept-charset="UTF-8" method="post"><input name="utf8" type="hidden" value="&#x2713;" /><input type="hidden" name="authenticity_token" value="hGYwYFSIc4fuPZQ05IhEWAGrcWJQXeUnw+o6etmTAsm+9NrZsHY6hhW7sPWMAWRQvONC1n5Fz2/EVSwsaq2jYw==" />

  <div class="form-group">
    <label class="col-sm-2 control-label" for="backend_article_title">Title</label>
    <div class="col-sm-10">
      <input class="form-control" type="text" name="backend_article[title]" id="backend_article_title" />
    </div>
  </div>
  <div class="form-group">
    <label class="col-sm-2 control-label" for="backend_article_content">Content</label>
    <div class="col-sm-10">
      <textarea class="form-control" name="backend_article[content]" id="backend_article_content">
      </textarea>
      </div>
    </div>
    <div class="form-group">
      <div class="col-sm-offset-2 col-sm-10">
        <input type="submit" name="commit" value="Create Article" class="btn btn-primary" />
      </div>
    </div>
  </form> -->

